/**
 * Gallery styles
 *
 * @package    HNG2
 * @subpackage gallery
 * @author     Alejandro Caballero - lava.caballero@gmail.com
 */

/* Switches: base */
#media_browser_mode_switches span[data-trigger-for] {
    color:            ButtonText;
    background-color: ButtonFace;
    border:           1px solid ButtonFace;
    border-radius:    3px;
    padding:          3px 4px;
}

/* Switches: hover */
#media_browser_mode_switches[data-current-mode="table"] span[data-trigger-for="tiles"]:hover ,
#media_browser_mode_switches[data-current-mode="tiles"] span[data-trigger-for="table"]:hover {
    background-color: Highlight;
    color:            HighlightText;
    border-style:     outset;
}

/* Switches: currently selected */
#media_browser_mode_switches[data-current-mode="table"] span[data-trigger-for="table"] ,
#media_browser_mode_switches[data-current-mode="tiles"] span[data-trigger-for="tiles"] {
    cursor:           auto;
    color:            ButtonHighlight;
    background-color: ButtonShadow;
    border-style:     inset;
}

/* Browser table mode */

@media all and (max-width: 800px)
{
    #media_browser_table tr th:nth-child(4) { display: none; }
    #media_browser_table tr td:nth-child(4) { display: none; }
    #media_browser_table tr th:nth-child(5) { display: none; }
    #media_browser_table tr td:nth-child(5) { display: none; }
}
@media all and (max-width: 600px)
{
    #media_browser_table tr th:nth-child(1) { width: 100%; }
    #media_browser_table tr td:nth-child(1) { width: 100%; }
    #media_browser_table tr th:nth-child(2) { display: none; }
    #media_browser_table tr td:nth-child(2) { display: none; }
    #media_browser_table tr th:nth-child(3) { display: none; }
    #media_browser_table tr td:nth-child(3) { display: none; }
    #media_browser_table tr th:nth-child(4) { display: none; }
    #media_browser_table tr td:nth-child(4) { display: none; }
    #media_browser_table tr th:nth-child(5) { display: none; }
    #media_browser_table tr td:nth-child(5) { display: none; }
    #media_browser_table tr th:nth-child(6) { display: none; }
    #media_browser_table tr td:nth-child(6) { display: none; }
    #media_browser_table tr th:nth-child(7) { display: none; }
    #media_browser_table tr td:nth-child(7) { display: none; }
}
.embedded_mode .record { cursor: pointer; }

/* Broser tiles mode */

.tiles_container .tile           { display: inline-block; vertical-align: top;
                                   border: 1px solid; text-decoration: none; cursor: auto;
                                   background-position: center;
                                   background-repeat: no-repeat; background-size: cover; }
.tiles_container .tile .contents { display: table-cell; vertical-align: bottom;
                                   color: white; font-weight: bold; font-size: 8pt;
                                   font-family: Arial, Helvetica, sans-serif;
                                   text-shadow: 2px 2px 2px black; }

.tiles_container .tile .contents .emojione    { height: 8pt; }
.tiles_container .tile .contents a            ,
.tiles_container .tile .contents .pseudo_link { color: white; text-decoration: none; }

.tiles_container .tile                  { width: 155px; height: 155px; margin:  5px; }
.tiles_container .tile .contents        { width: 155px; height: 155px; padding: 5px; }
.tiles_container .tile .contents .title { width: 145px; overflow: hidden; }
