/**
 * Styles for TinyMCE
 *
 * @package    BardCanvas
 * @subpackage gallery
 * @author     Alejandro Caballero - lava.caballero@gmail.com
 */

img.video {
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: 25%, contain;
}
